## 1) Import rollingsales_manhattan.csv as a DataFrame

In [5]:
import numpy as np 
import pandas as pd

df = pd.read_csv("rollingsales_manhattan.csv", skiprows=4)
df.dropna(how="all", inplace=True)
print(df)

BOROUGH              NEIGHBORHOOD    BUILDING CLASS CATEGORY  \
0          1.0             ALPHABET CITY    01 ONE FAMILY DWELLINGS
1          1.0             ALPHABET CITY    01 ONE FAMILY DWELLINGS
2          1.0             ALPHABET CITY    02 TWO FAMILY DWELLINGS
3          1.0             ALPHABET CITY    02 TWO FAMILY DWELLINGS
4          1.0             ALPHABET CITY    02 TWO FAMILY DWELLINGS
...        ...                       ...                        ...
17154      1.0  WASHINGTON HEIGHTS UPPER  31 COMMERCIAL VACANT LAND
17155      1.0  WASHINGTON HEIGHTS UPPER  31 COMMERCIAL VACANT LAND
17156      1.0  WASHINGTON HEIGHTS UPPER  31 COMMERCIAL VACANT LAND
17157      1.0  WASHINGTON HEIGHTS UPPER  31 COMMERCIAL VACANT LAND
17158      1.0  WASHINGTON HEIGHTS UPPER           44 CONDO PARKING

      TAX CLASS AT PRESENT   BLOCK     LOT  EASE-MENT  \
0                        1   376.0    43.0        NaN
1                        1   400.0    19.0        NaN
2                        1   404.0     1.0        NaN
3                        1   404.0     1.0        NaN
4                        1   404.0     1.0        NaN
...                    ...     ...     ...        ...
17154                    4  2174.0    97.0        NaN
17155                    4  2179.0   153.0        NaN
17156                    4  2179.0   154.0        NaN
17157                    4  2179.0   155.0        NaN
17158                    4  2180.0  1222.0        NaN

      BUILDING CLASS AT PRESENT                ADDRESS APARTMENT NUMBER  ...  \
0                            S1    743 EAST 6TH STREET              NaN  ...
1                            A4    526 EAST 5TH STREET              NaN  ...
2                            B9           166 AVENUE A              NaN  ...
3                            B9           166 AVENUE A              NaN  ...
4                            B9           166 AVENUE A              NaN  ...
...                         ...                    ...              ...  ...
17154                        V1       N/A NAGLE AVENUE              NaN  ...
17155                        V1  203 CABRINI BOULEVARD              NaN  ...
17156                        V1  205 CABRINI BOULEVARD              NaN  ...
17157                        V1  207 CABRINI BOULEVARD              NaN  ...
17158                        RG    736 WEST 187 STREET            PRK22  ...

       RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  \
0                    1.0               1.0          2.0             2,090
1                    1.0               0.0          1.0             1,883
2                    2.0               0.0          2.0             1,510
3                    2.0               0.0          2.0             1,510
4                    2.0               0.0          2.0             1,510
...                  ...               ...          ...               ...
17154                NaN               NaN          NaN             2,800
17155                NaN               NaN          NaN             1,928
17156                NaN               NaN          NaN             1,775
17157                NaN               NaN          NaN             1,555
17158                NaN               NaN          NaN               NaN

      GROSS SQUARE FEET YEAR BUILT  TAX CLASS AT TIME OF SALE  \
0                 3,680     1940.0                        1.0
1                 5,200     1900.0                        1.0
2                 4,520     1900.0                        1.0
3                 4,520     1900.0                        1.0
4                 4,520     1900.0                        1.0
...                 ...        ...                        ...
17154               NaN        0.0                        4.0
17155               NaN        0.0                        4.0
17156               NaN        0.0                        4.0
17157               NaN        0.0                        4.0
17158               160     2003.0                        4.0

       BUILDING CLASS AT TIME OF SALE  SALE PRICE  SALE DATE
0                                  S1    3,200,000   7/24/19
1                                  A4    6,100,000   12/3/18
2                                  B9            0   7/22/19
3                                  B9            0  11/29/18
4                                  B9            0  11/29/18
...                               ...          ...       ...
17154                              V1       15,000   6/12/19
17155                              V1    3,000,000    9/4/18
17156                              V1            0    9/4/18
17157                              V1            0    9/4/18
17158                              RG            0   9/13/18

[17159 rows x 21 columns]

The first 4 rows of the file only contained markup/description for the file, and the actual data started after the first 4 rows. In order to have read_csv parse the column and row labels correctly, the first 4 rows had to be omitted from the read_csv.

## 2) Display columns and row samples

In [6]:
print(df.columns)

print(df.head(5))

print(df.sample(n=5))

print(df.tail(5))

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       ' SALE PRICE ', 'SALE DATE'],
      dtype='object')
   BOROUGH   NEIGHBORHOOD  BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  \
0      1.0  ALPHABET CITY  01 ONE FAMILY DWELLINGS                    1
1      1.0  ALPHABET CITY  01 ONE FAMILY DWELLINGS                    1
2      1.0  ALPHABET CITY  02 TWO FAMILY DWELLINGS                    1
3      1.0  ALPHABET CITY  02 TWO FAMILY DWELLINGS                    1
4      1.0  ALPHABET CITY  02 TWO FAMILY DWELLINGS                    1

   BLOCK   LOT  EASE-MENT BUILDING CLASS AT PRESENT              ADDRESS  \
0  376.0  43.0        NaN                        S1  743 EAST 6TH STREET
1  400.0  19.0        NaN                        A4  526 EAST 5TH STREET
2  404.0   1.0        NaN                        B9         166 AVENUE A
3  404.0   1.0        NaN                        B9         166 AVENUE A
4  404.0   1.0        NaN                        B9         166 AVENUE A

  APARTMENT NUMBER  ...  RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  \
0              NaN  ...                1.0               1.0          2.0
1              NaN  ...                1.0               0.0          1.0
2              NaN  ...                2.0               0.0          2.0
3              NaN  ...                2.0               0.0          2.0
4              NaN  ...                2.0               0.0          2.0

   LAND SQUARE FEET GROSS SQUARE FEET YEAR BUILT  TAX CLASS AT TIME OF SALE  \
0             2,090             3,680     1940.0                        1.0
1             1,883             5,200     1900.0                        1.0
2             1,510             4,520     1900.0                        1.0
3             1,510             4,520     1900.0                        1.0
4             1,510             4,520     1900.0                        1.0

   BUILDING CLASS AT TIME OF SALE  SALE PRICE  SALE DATE
0                              S1    3,200,000   7/24/19
1                              A4    6,100,000   12/3/18
2                              B9            0   7/22/19
3                              B9            0  11/29/18
4                              B9            0  11/29/18

[5 rows x 21 columns]
       BOROUGH             NEIGHBORHOOD          BUILDING CLASS CATEGORY  \
15964      1.0  UPPER WEST SIDE (79-96)   10 COOPS - ELEVATOR APARTMENTS
4618       1.0           HARLEM-CENTRAL    12 CONDOS - WALKUP APARTMENTS
15698      1.0  UPPER WEST SIDE (79-96)   10 COOPS - ELEVATOR APARTMENTS
8894       1.0             MIDTOWN WEST                  45 CONDO HOTELS
15009      1.0  UPPER WEST SIDE (59-79)  13 CONDOS - ELEVATOR APARTMENTS

      TAX CLASS AT PRESENT   BLOCK     LOT  EASE-MENT  \
15964                    2  1248.0     1.0        NaN
4618                     2  1944.0  1229.0        NaN
15698                    2  1204.0    29.0        NaN
8894                     4  1006.0  1304.0        NaN
15009                    2  1171.0  3139.0        NaN

      BUILDING CLASS AT PRESENT                           ADDRESS  \
15964                        D4           140 RIVERSIDE DRIVE, 8B
4618                         R2         421 MANHATTAN AVENUE, C-5
15698                        D4        300 CENTRAL PARK WEST, 11L
8894                         RH  1335 AVENUE OF THE AMERICAS, HU3
15009                        R4       120 RIVERSIDE BOULEVARD, 6J

      APARTMENT NUMBER  ...  RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  \
15964              NaN  ...                NaN               NaN          NaN
4618               C-5  ...                NaN               NaN          NaN
15698              NaN  ...                NaN               NaN          NaN
8894               HU3  ...                NaN               NaN          NaN
15009               6J  ...                NaN               NaN          NaN

       LAND SQUARE FEET GROSS SQUARE FEET YEAR BUILT  \
15964               NaN               NaN     1939.0
4618                NaN               850     1910.0
15698               NaN               NaN     1930.0
8894                NaN            24,917     1963.0
15009               NaN               798        0.0

       TAX CLASS AT TIME OF SALE  BUILDING CLASS AT TIME OF SALE  SALE PRICE   \
15964                        2.0                              D4    1,200,000
4618                         2.0                              R2      260,193
15698                        2.0                              D4    1,575,000
8894                         4.0                              RH            0
15009                        2.0                              R4      850,000

      SALE DATE
15964  11/26/18
4618     6/6/19
15698    6/5/19
8894   12/22/18
15009   5/22/19

[5 rows x 21 columns]
       BOROUGH              NEIGHBORHOOD    BUILDING CLASS CATEGORY  \
17154      1.0  WASHINGTON HEIGHTS UPPER  31 COMMERCIAL VACANT LAND
17155      1.0  WASHINGTON HEIGHTS UPPER  31 COMMERCIAL VACANT LAND
17156      1.0  WASHINGTON HEIGHTS UPPER  31 COMMERCIAL VACANT LAND
17157      1.0  WASHINGTON HEIGHTS UPPER  31 COMMERCIAL VACANT LAND
17158      1.0  WASHINGTON HEIGHTS UPPER           44 CONDO PARKING

      TAX CLASS AT PRESENT   BLOCK     LOT  EASE-MENT  \
17154                    4  2174.0    97.0        NaN
17155                    4  2179.0   153.0        NaN
17156                    4  2179.0   154.0        NaN
17157                    4  2179.0   155.0        NaN
17158                    4  2180.0  1222.0        NaN

      BUILDING CLASS AT PRESENT                ADDRESS APARTMENT NUMBER  ...  \
17154                        V1       N/A NAGLE AVENUE              NaN  ...
17155                        V1  203 CABRINI BOULEVARD              NaN  ...
17156                        V1  205 CABRINI BOULEVARD              NaN  ...
17157                        V1  207 CABRINI BOULEVARD              NaN  ...
17158                        RG    736 WEST 187 STREET            PRK22  ...

       RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  \
17154                NaN               NaN          NaN             2,800
17155                NaN               NaN          NaN             1,928
17156                NaN               NaN          NaN             1,775
17157                NaN               NaN          NaN             1,555
17158                NaN               NaN          NaN               NaN

      GROSS SQUARE FEET YEAR BUILT  TAX CLASS AT TIME OF SALE  \
17154               NaN        0.0                        4.0
17155               NaN        0.0                        4.0
17156               NaN        0.0                        4.0
17157               NaN        0.0                        4.0
17158               160     2003.0                        4.0

       BUILDING CLASS AT TIME OF SALE  SALE PRICE  SALE DATE
17154                              V1       15,000   6/12/19
17155                              V1    3,000,000    9/4/18
17156                              V1            0    9/4/18
17157                              V1            0    9/4/18
17158                              RG            0   9/13/18

[5 rows x 21 columns]

## 3) Describe the rows and data types

In [7]:
print(df.columns)

print(df.dtypes)

print(df.count())

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       ' SALE PRICE ', 'SALE DATE'],
      dtype='object')
BOROUGH                           float64
NEIGHBORHOOD                       object
BUILDING CLASS CATEGORY            object
TAX CLASS AT PRESENT               object
BLOCK                             float64
LOT                               float64
EASE-MENT                         float64
BUILDING CLASS AT PRESENT          object
ADDRESS                            object
APARTMENT NUMBER                   object
ZIP CODE                          float64
RESIDENTIAL UNITS                 float64
COMMERCIAL UNITS                  float64
TOTAL UNITS                       float64
LAND SQUARE FEET                   object
GROSS SQUARE FEET                  object
YEAR BUILT                        float64
TAX CLASS AT TIME OF SALE         float64
BUILDING CLASS AT TIME OF SALE     object
 SALE PRICE                        object
SALE DATE                          object
dtype: object
BOROUGH                           17159
NEIGHBORHOOD                      17159
BUILDING CLASS CATEGORY           17159
TAX CLASS AT PRESENT              17088
BLOCK                             17159
LOT                               17159
EASE-MENT                             0
BUILDING CLASS AT PRESENT         17088
ADDRESS                           17159
APARTMENT NUMBER                   8213
ZIP CODE                          17088
RESIDENTIAL UNITS                  1783
COMMERCIAL UNITS                   1783
TOTAL UNITS                        1783
LAND SQUARE FEET                   1903
GROSS SQUARE FEET                 10012
YEAR BUILT                        17088
TAX CLASS AT TIME OF SALE         17159
BUILDING CLASS AT TIME OF SALE    17159
 SALE PRICE                       17159
SALE DATE                         17159
dtype: int64

Columns with "wrong" type:

    - NEIGHBORHOOD: str
    - BUILDING CLASS CATEGORY: str
    - TAX CLASS AT PRESENT: str
    - BUILDING CLASS AT PRESENT: str
    - ADDRESS: str
    - APARTMENT NUMBER: str
    - LAND SQUARE FEET: float64
    - GROSS SQUARE FEET: float64
    - BUILDING CLASS AT TIME OF SALE: str
    - SALE PRICE: float64

In [9]:
# pd.options.display.float_format = '{:,.0f}'.format

# df[['NEIGHBORHOOD', 'BUILDING CLASS CATEGORY', 'TAX CLASS AT PRESENT', 'BUILDING CLASS AT PRESENT', 'ADDRESS', 'BUILDING CLASS AT TIME OF SALE']] = df[['NEIGHBORHOOD', 'BUILDING CLASS CATEGORY', 'TAX CLASS AT PRESENT', 'BUILDING CLASS AT PRESENT', 'ADDRESS', 'BUILDING CLASS AT TIME OF SALE']].applymap(str)

df.rename(columns={" SALE PRICE ": "SALE PRICE"})

df['LAND SQUARE FEET'] = df['LAND SQUARE FEET'].str.replace(',', '').apply(float)
df['GROSS SQUARE FEET'] = df['GROSS SQUARE FEET'].str.replace(',', '').apply(float)
df[' SALE PRICE '] = df[' SALE PRICE '].str.replace(',', '').apply(float)
df['YEAR BUILT'] = df['YEAR BUILT'].astype(str).str.replace(',', '').apply(float)



print(df)
print(df.dtypes)

AttributeError: Can only use .str accessor with string values!

## 4) Initial column (or row) clean-up

In [ ]:
df.drop(columns="EASE-MENT")